@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin inflex-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-h {
    display: flex;
    justify-content: center;
}

@mixin flex-center-v {
    display: flex;
    align-items: center;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin bgImg($path, $size, $position) {
    background: url($path);
    background-size: $size;
    background-position: $position;
    background-repeat: no-repeat;
}

@mixin position($value, $top, $right, $bottom, $left) {
    position: $value;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin pill($color: transparent,
    $bg: transparent,
    $family: "Exo 2",
    $fsize: 13px,
    $border: none,
    $radius:10px,
    $pad:6px,
    $lheight: 100%,
    $lspace:0 ) {
    color: $color;
    background: $bg;
    font-family: $family;
    font-size: $fsize;
    border: $border;
    border-radius: $radius;
    padding: $pad;
    line-height: $lheight;
    letter-spacing: $lspace;
    font-weight: 500;
    width: max-content;
    @include flex-center;
}